
@page "/arbitration"
@inject NavigationManager NavigationManager

<PageTitle>Arbitration Details</PageTitle>

<h1>Arbitration</h1>

<div>
	<h2>Calculate Your Earnings</h2>
	<form>
			<tr>
				<th>Team 1</th>

			</tr>
			<tr>
				<th>Team 2</th>
			</tr>
	</form>
</div>