@page "/"

<PageTitle>Home</PageTitle>

<h1>Upcoming</h1>

<div>
    <h2>College Basketball Games</h2>

    <table>
        <thead>
            <tr>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Date and Time</th>
                <th>Arbitrage</th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var game in Model.Games) *@
            @* { *@
            @*     <tr> *@
            @*         <td>@game.Team1</td> *@
            @*         <td>@game.Team2</td> *@
            @*         <td>@game.DateTime</td> *@
            @*     </tr> *@
            @* } *@
            This is where we will display stuff
        </tbody>
    </table>
</div>