@page "/n"
@using IdentifyingArbitrage.Models

<div>
    <h3>Game Information</h3>

    <p>Teams:</p>
    <ul>
        @foreach (var team in game.Teams)
        {
            <li>@team.Name - Implied Odds: @team.ImpliedOdds</li>
        }
    </ul>

    <p>Is Arbitrage: @game.IsArbitrage</p>
</div>

@code {
    private Game game;

    protected override void OnInitialized()
    {
        // Create sample teams and initialize the game
        var teams = new List<Team>();

        game = new Game(teams);
    }
}